
@font-face {
    font-family: 'gothampro-light';
    src: url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothampro-medium';
    src: url('../fonts/GothamPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothampro-bold';
    src: url('../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'gothampro-light';
    background-color: black;
}
a{
    text-decoration: none;
    color: inherit;
}
.no-js .owl-carousel.slide-mob,
.owl-carousel.owl-loaded.slide-mob{
    display: none;
}
.main{
    /* max-width: 1920px; */
    margin: 0 auto;
}
.title-block{
    font-family: 'gothampro-light';
    background: url("../img/bg.jpg") #08141f;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    
    margin: 0 auto;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.wrap-title{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    /* margin-top: 10%; */
}
.title-block img.logo {
    padding-top: 150px;
    padding-bottom: 15px;
}
.title-block img.logo-title{
    padding-bottom: 75px;
}
.title-block p{
    max-width: 840px;
    line-height: 1.5;
    font-size: 14px;
    /*padding-top: 20px;*/
    padding: 0 15px;
}
.title-block .bg-mob{
    display: flex;
    flex-flow: column;
}
.title-block button{
    font-family: 'gothampro-light';
    padding: 20px 40px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 40px;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 80px;
    cursor: pointer;
    outline: none;
    transition: .5s;
}
.title-block button:hover {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.271);
    transition: .5s;
}
.title-block a{
    padding-top: 130px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.title-block a:hover{
    font-weight: bold;
}
.project-block{
    background: url("../img/bg-1.jpg");
    background-size: cover;
    background-position: center;
    /*line-height: 100vh;*/
    margin: 0px;
    padding: 50px 50px;
}
.project-block h2{
    display: none;
}
.project-block .container .overlay a{
    height: 100%;
    display: block;
}
.project-block .container img{
    /*box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);*/
}
.project-block .item-1 img:first-child{
    margin-bottom: 5px;
}
.owl-carousel .owl-nav.disabled{
    display: block;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 46%;
    border: none;
    outline: none;
}
.owl-carousel .owl-nav button.owl-next{
    right: -35px;
}
.owl-carousel .owl-nav button.owl-prev{
    left: -35px;
}
.project-block .container {
    position: relative;
}
.project-block .image {
    display: block;
    width: 100%;
    height: auto;
}
.project-block .container .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(153, 196, 90, 0.88);
    overflow: hidden;
    width: 100%;
    height: 0%;
    transition: .5s ease;
}
.project-block .container .overlay:active {
    background-color: rgba(153, 196, 90, 1);
}
.project-block .container.container-2 .overlay {
    background-color: rgba(212, 55, 65, 0.88);
}
.project-block .container.container-2 .overlay:active {
    background-color: rgba(212, 55, 65, 1);
}
.project-block .container.container-3 .overlay {
    background-color: rgba(226, 83, 0, 0.88);
}
.project-block .container.container-3 .overlay:active {
    background-color: rgba(226, 83, 0, 1);
}
.project-block .container:hover .overlay {
    bottom: 0;
    height: 100%;
}
.project-block .text {
    color: white;
    position: absolute;
    top: 50%;
    left: 48%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
}
.project-block .text h5{
    /*font-family: 'gothampro-medium';*/
    font-size: 18px;
    margin: 30px 0;
}
.project-block .text p{
    font-family: 'gothampro-light';
    font-size: 12px;
    padding-bottom: 18px;
    line-height: 2;
}
.project-block .text a.more{
    /*font-family: 'gothampro-bold';*/
    text-decoration: underline;
    text-underline-position: under;
    /*border-bottom: 1px solid white;*/
    font-size: 12px;
    font-weight: bold;
}
.project-block .text img{
    width: 30%;
    margin: 0px auto 0;
    padding-top: 60px;
    cursor: pointer;
}
.project-block .text img.logo-ictv{
    width: 100%;
}
.project{
    display: flex;
    justify-content: space-between;
    padding: 100px 50px 100px;
    position: relative;
}
.project .back{
    position: absolute;
    left: 50px;
    top: 50px;
    color: white;
    text-transform: uppercase;
}
.project .back i{
    padding-right: 10px;
}
.project.project-1{
    background: url("../img/bg-4.jpg") no-repeat #08141f;
    background-size: cover;
    background-position: center;
    position: relative;
}
.project.project-1:nth-child(even){
    background: url("../img/bg-2.jpg") no-repeat #08141f;
    background-size: cover;
    background-position: center;
}
.project-info{
    width: 55%;
    padding-right: 55px;
}
.project-info img{
    width: 100%;
    height: 100%;
}
.project-info__top{
    display: flex;
    justify-content: flex-start;
}
.project-info__top img.vert{
    max-width: 308px;
    /* min-width: 200px; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}
.project-info__top img.hor{
    display: none;
}
.project-info__top img.mask{
    display: none;
}
.project-info__top img.logo.logo-novy{
    margin: 10px 0 25px;
    max-width: 61px;
    min-width: 30px;
    max-height: 62px;
}
.project-info__top img.logo.logo-stb{
    margin: 10px 0 25px;
    max-width: 71px;
    min-width: 50px;
    max-height: 62px;
}
.project-info__top img.logo.logo-ictv{
    margin: 10px 0 25px;
    max-width: 152px;
    min-width: 100px;
    max-height: 62px;
}
.project-info__top .about{
    color: white;
    padding-left: 55px;
    padding-right: 105px;
    position: relative;
}
.project-info__top .about h2{
    font-size: 24px;
    margin-top: 5px;
    text-transform: capitalize;
}
.project-info__top .about h5{
    text-transform: uppercase;
    font-size: 14px;
}
.project-info__top .about p{
    font-size: 12px;
    margin: 10px 0;
    line-height: 2;
}
.project-info__top .about .about-1{
    margin-bottom: 30px;
    line-height: 2;
}
.project-info__top .about.about-btn {
    text-align: left;
    padding-left: 0;
    position: absolute;
    bottom: 0;
}
.project-info__top .about.about-btn button{
    font-family: 'gothampro-light';
    padding: 10px 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 40px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 15px;
    cursor: pointer;

    left: 55px;
    transition: .5s;
}
.project-info__top .about button:hover{
    background-color: rgba(255, 255, 255, 0.271);
    border: 1px solid rgba(255, 255, 255, 0.271);
    transition: .5s;
}
.project-info__bottom{
    display: flex;
    justify-content: space-between;
    width: 52%;
    position: absolute;
    bottom: 100px;
    padding-right: 55px;
}
.project-info__bottom img{
    max-width: 305px;
    min-width: 200px;
    padding-right: 20px;
}
.owl-carousel.slide-two .owl-nav.disabled{
    display: none;
}
.project-video{
    width: 40%;
    color: white;
    font-family: 'gothampro-light';
    font-size: 12px;
    padding-right: 85px;
    min-height: 775px;
}
.project-video p{
    margin-top: 30px;
    line-height: 1.7;

}
.project-video img{
    width: 100%;
    height: 100%;
}
.video iframe{
    width: 560px;
    height: 315px;
}
.contacts{
    background: url("../img/bg.jpg") no-repeat #08141f;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'gothampro-light';
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.wrap-contacts{

}
.contacts h3{
    font-size: 18px;
    margin: 0;
    /*padding-top: 350px;*/
    padding-bottom: 50px;
    text-transform: uppercase;
}
.contacts p{
    font-size: 14px;
    width: 51%;
    margin: 0 auto;
    line-height: 1.7;
}
@media screen and (max-width: 1700px){
    .project-info__top .about.about-btn {
        position: static;
    }
    .project-video {
        padding-right: 0;
    }

}

@media screen and (max-width: 1500px){

    /*.project.project-1{*/
        /*background: #08141f;*/
    /*}*/
    .project-info__top .about{
        padding-right: 0;
    }
    .title-block img.logo {
        padding-top: 0;
    }
}
@media screen and (max-width: 1200px){
    .project-info__top .about{
        padding-right: 0;
        padding-left: 25px;
    }
    .project-info__top .about.about-btn{
        padding-left: 0px;
    }
    .project-video{
        padding-right: 0;
    }
}
@media screen and (max-width: 1024px) {
    .project{
        padding-bottom: 0;
    }
    .project.project-1{
        flex-flow: column;
        padding-top: 30px;
    }
    .project .back{
        top: -20px;
    }
    .project-info{
        width: 100%;
        padding-right: 0px;
    }
    .project-video{
        width: 100%;
        padding-top: 30px;
        /* min-height: 100px; */
    }
    .project-video .video{
        text-align: center;
    }
    .project-info__bottom{
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* position: absolute;
        bottom: 0px; */
        position: relative;
        padding-right: 0px;
    }
    .project-block .text img{
        padding-top: 30px;
    }
    .contacts p{
        width: 70%;
    }
}
@media screen and (max-width: 768px) {
    .title-block img.logo {
        padding-top: 60px;
        padding-bottom: 15px;
    }
    .title-block img.logo-title{
        padding-bottom: 25px;
    }
    .project{
        flex-flow: column;
        padding: 0;
    }
    .project.project-1{
        /* background: #08141f; */
        position: relative;
        padding-top: 0;
    }
    .project .back{
        position: absolute;
        bottom: 0px;
        top: inherit;
        text-align: center;
        z-index: 10;
        padding-bottom: 15px;
    }
    .project-info{
        width: 100%;
        padding-right: 0;
    }
    .project-info__top{
        flex-flow: column;
    }

    .project-info__top img.vert{
        display: none;
    }
    .project-info__top img.hor{
        display: block;
        /*padding-top: 50px;*/
        overflow: hidden;
        position: relative;
    }
    .project-info__top .img-hor{
        position: relative;
    }
    .project-info__top img.mask{
        display: none;
        /*display: block;*/
        /*position: absolute;*/
        /*bottom: 0;*/
        /*height: 18%;*/
    }
    .project-info__top .img-hor:after{
        background: transparent;
        background: linear-gradient(to top, rgba(8, 20, 31, 1) 0%, rgba(0, 0, 0, 0) 100%);
        content: "";
        display: block;
        height: 25%;
        left: 0;
        position: absolute;
        /*top: 0;*/
        bottom: 0;
        width: 100%;
        /*margin-top: 150px;*/
    }
    .project-info__top .about {
        padding-left: 15px;
        padding-right: 15px;
    }
    .project-info__top .about h2{
        margin-top: -10px;
    }
    .project-info__bottom{
        width: 100%;
        padding: 0;
        position: static;
        padding-bottom: 50px;
    }
    .project-info__bottom img{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        max-width: 400px;
        min-width: 200px;
    }
    .project-info__top .about button{
        position: static;
        margin-top: 20px;
    }
    .project-info__top .about.about-btn {
        text-align: center;
    }
    .project-info__top .about.about-btn button{
        margin-top: 30px;
    }
    .project-video {
        width: 100%;
        padding-top: 20px;
        padding-right: 0;
        padding-bottom: 20px;
        min-height: 100px;
    }
    .project-video p{
        padding: 0 15px;
    }
    .video{
        text-align: center;
    }
    .owl-stage{
        /*padding-left: 30px !important;*/
        /*padding-right: 30px !important;*/
    }
    .contacts p{
        /* width: 100%;
        padding: 0 70px; */
    }
    .contacts h3{
        padding-top: 0px;
    }

}
@media screen and (max-width: 768px) {
    .project-block .text h5 {
        margin: 0;
    }
    .project-block .text img {
        padding-top: 30px;
    }
    .project.project-1{
        background: #08141f;
    }
    .project.project-1:nth-child(even){
        background: #08141f;
    }
    .title-block p{
        padding: 0 70px;
    }
    .contacts h3{
        padding-top: 0px;
    }
    
}
@media screen and (max-width: 600px){
    .no-js .owl-carousel.slide-one,
    .owl-carousel.owl-loaded.slide-one{
        display: none;
    }
    .no-js .owl-carousel.slide-mob,
    .owl-carousel.owl-loaded.slide-mob{
        display: block;
    }
    .owl-carousel .owl-nav.disabled{
        display: none;
    }
    .project-block h2{
        display: block;
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-family: 'gothampro-light';
        margin: 0;
        font-weight: normal;
        font-size: 16px;
        padding: 20px 0 40px;
    }
    .video iframe{
        width: 400px !important;
        height: auto !important;
    }
}
@media screen and (max-width: 420px){
    .video iframe{
        width: 300px !important;
        height: auto !important;
    }
    .title-block a{
        padding-top: 40px !important;
    }
    .title-block p{
        padding: 0 15px;
        padding-top: 20px !important;
    }
    .title-block button{
        margin-top: 60px;
    }
    .project-block {
        padding: 20px 0px;
        background: #08141f;
    }
    .contacts p{
        width: 90%;
    }
}
@media screen and (max-width: 320px){
    .title-block{
        height: auto;
        background-size: 100%;
        background-position: top;
        background-repeat: no-repeat;
    }
    .title-block img.logo {
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .title-block img.logo-title{
        padding-bottom: 25px;
    }
    .title-block p{
        padding: 0 15px;
        text-align: left;
    }
    .title-block button{
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .title-block a{
        padding: 0;
        padding-bottom: 20px;
    }
    .project-block {
        padding: 20px 0px;
        background: #08141f;
    }
    .project-block h2{
        display: block;
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-family: 'gothampro-light';
        margin: 0;
        font-weight: normal;
        font-size: 16px;
        padding: 20px 0 40px;
    }
    .project .back{
        /* padding-bottom: 25px; */
    }
    .project-info__bottom {
        /*padding-bottom: 100px;*/
    }
    .project-info__top img.hor {
        padding-top: 0;
    }
    .video iframe{
        width: 300px !important;
        height: auto !important;
    }
    .contacts{
        background-size: 100%;
        background-position: top;
    }
    .contacts p{
        width: 90%;
        /*padding: 0 15px;*/
        text-align: left;
    }
    .contacts h3{
        padding-top: 80px;
        padding-bottom: 75px;
    }
}
@media screen and (max-width: 375px){
    .contacts h3{
        padding-top: 35px;
    }
}