@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kaushanscript-regular';
  src: url("../fonts/kaushanscript-regular-webfont.woff2") format("woff2"), url("../fonts/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-regular';
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight_italic';
  src: url("../fonts/roboto-lightitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

body * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.main {
  margin: 0 auto;
  width: 100%;
}

.header {
  background: url("../img/bg-header.png") no-repeat;
}

@media (min-width: 1800px) {
  .header {
    background-size: 100%;
  }
}

#mobile, [for="mobile"] {
  display: none;
}

.menu {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  padding-left: 18.75%;
  padding-right: 18.75%;
  color: white;
}

.menu__logo {
  font-size: 30px;
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
  padding-top: 0px;
}

.menu__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0;
  margin-left: 40%;
}

.menu__nav-link {
  font-family: 'montserratregular', Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  padding-right: 7%;
}

.menu__nav-link:hover {
  color: #fce38a;
  text-decoration: underline;
}

.menu__nav:nth-child(7) {
  padding-right: 0;
}

@media screen and (max-width: 900px) {
  .menu {
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }
  .menu__nav {
    display: none;
    align-items: flex-end;
    position: absolute;
    top: 7%;
    left: -41%;
  }
  .menu__nav-link {
    width: 40%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    background-color: #95e1d3;
    padding: 25px;
  }
  .menu__nav-link:hover {
    background-color: white;
  }
  .menu [for="mobile"] {
    display: inline-block;
    margin: 38px -90px 20px 20px;
  }
  #mobile:checked ~ .menu__nav {
    height: auto;
    display: flex;
    flex-flow: column nowrap;
  }
}

@media screen and (max-width: 600px) {
  .menu__nav {
    display: none;
    margin-top: 35px;
  }
  .menu__nav-link {
    height: 10vh;
    width: 100%;
    padding: 40px;
  }
  .menu [for="mobile"] {
    display: inline-block;
    margin: 38px 0px 10px 10px;
  }
  #mobile:checked ~ .menu__nav {
    height: auto;
    display: flex;
    flex-flow: column nowrap;
  }
}

.slogan {
  margin: 0 auto;
  color: white;
  text-align: center;
}

.slogan-p {
  font-family: 'kaushanscript-regular', Arial, Helvetica, sans-serif;
  font-size: 72px;
  margin-top: 5.10417%;
  margin-bottom: 2.08333%;
}

@media (min-width: 1200px) and (max-width: 1799px) {
  .slogan-p {
    font-size: 65px;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .slogan-p {
    font-size: 45px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .slogan-p {
    font-size: 35px;
  }
}

@media (max-width: 599px) {
  .slogan-p {
    font-size: 20px;
  }
}

.slogan-h1 {
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
  font-size: 150px;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: 1200px) and (max-width: 1799px) {
  .slogan-h1 {
    font-size: 110px;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .slogan-h1 {
    font-size: 80px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .slogan-h1 {
    font-size: 65px;
  }
}

@media (max-width: 599px) {
  .slogan-h1 {
    font-size: 35px;
  }
}

.slogan-img {
  padding: 28px 0;
  width: 100%;
}

.slogan-btn {
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
  width: 160px;
  height: 40px;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0);
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
}

.slogan-btn:hover {
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.bottom {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 6.77083%;
  margin-right: 18.75%;
  margin-left: 18.75%;
  color: white;
}

@media (min-width: 600px) and (max-width: 899px) {
  .bottom {
    justify-content: center;
  }
}

@media (max-width: 599px) {
  .bottom {
    justify-content: center;
  }
}

.bottom__intro-p {
  display: flex;
}

.bottom__intro-p p:nth-child(1) {
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
}

.bottom__intro-p p:nth-child(2) {
  font-family: 'montserratregular', Arial, Helvetica, sans-serif;
  padding-left: 10px;
  text-transform: uppercase;
}

.about {
  padding-top: 3.28125%;
}

.about__text {
  text-align: center;
  margin-top: 30px;
  margin: 0 auto;
}

.about__text-p1 {
  font-size: 24px;
  font-family: 'kaushanscript-regular', Arial, Helvetica, sans-serif;
}

.about__text-p2 {
  font-size: 30px;
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.about__text-p3 {
  font-size: 15px;
  font-family: 'roboto-regular', Arial, Helvetica, sans-serif;
  color: #c2beba;
  padding-top: 25px;
  padding-bottom: 50px;
  padding-right: 25.3125%;
  padding-left: 25.3125%;
  margin: 0 auto;
}

.about__img {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding-left: 18.75%;
  padding-right: 18.75%;
  padding-top: 3%;
}

@media (min-width: 600px) and (max-width: 899px) {
  .about__img {
    justify-content: center;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .about__img {
    justify-content: center;
  }
}

@media (max-width: 599px) {
  .about__img {
    justify-content: center;
  }
}

.about__img-1 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 0;
}

.about__img-1 p:nth-child(2) {
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
}

.about__img-1 p:nth-child(3) {
  font-family: 'robotolight_italic', Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #999999;
  text-transform: capitalize;
  margin: 0;
}

.number {
  background-color: #95e1d3;
  width: 100%;
  height: 10.41667%;
  margin-top: 5.72917%;
  padding-left: 18.75%;
  padding-right: 18.75%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.number__1 {
  color: white;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  width: 240px;
}

.number__1:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.number__1-h1 {
  font-size: 72px;
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
  margin-top: 75px;
  margin-bottom: 20px;
}

@media (min-width: 600px) and (max-width: 899px) {
  .number__1-h1 {
    font-size: 40px;
    margin-top: 20px;
  }
}

@media (max-width: 599px) {
  .number__1-h1 {
    font-size: 30px;
    margin-top: 20px;
  }
}

.number__1-p {
  font-size: 14px;
  font-family: 'montserratregular', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 80px;
}

@media (max-width: 599px) {
  .number__1-p {
    font-size: 10px;
    margin-bottom: 20px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .number__1-p {
    margin-bottom: 20px;
  }
}

.block {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  text-align: left;
}

.block__img {
  width: 50%;
  text-align: center;
}

.block__text {
  margin: 0;
}

.block__text-h {
  margin: 0;
  font-family: 'montserratregular', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #333333;
}

.block__text-p {
  font-family: 'roboto-regular',Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #999999;
}

.block1 {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 40px;
}

.block2 {
  padding-bottom: 125px;
}

.work__img {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding-left: 18.75%;
  padding-right: 18.75%;
  padding-top: 3%;
}

@media (min-width: 600px) and (max-width: 899px) {
  .work__img {
    justify-content: center;
  }
}

@media (max-width: 599px) {
  .work__img {
    justify-content: center;
  }
}

.design {
  background: url("../img/bg-design.png") no-repeat;
}

@media (min-width: 1800px) {
  .design {
    background-size: 100%;
  }
}

.design__img-1 {
  text-align: center;
  position: relative;
}

@media (min-width: 600px) and (max-width: 899px) {
  .design__img-1 img {
    width: 60%;
  }
}

@media (max-width: 599px) {
  .design__img-1 img {
    width: 50%;
  }
}

.design__img-2 {
  position: absolute;
  top: 38%;
  left: 56%;
}

@media (max-width: 599px) {
  .design__img-2 {
    position: absolute;
    top: 39%;
    left: 46%;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .design__img-2 img {
    width: 80%;
  }
}

@media (max-width: 599px) {
  .design__img-2 img {
    width: 50%;
  }
}

.service {
  padding-bottom: 160px;
}

.service-img img {
  width: 100%;
}

.accordion {
  width: 600px;
}

.accordion__h {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e5e5;
  padding: 13px;
}

.accordion__h:nth-child(3) {
  margin-top: 10px;
}

.accordion__h:nth-child(4) {
  margin-top: 8px;
}

.accordion__h-img {
  padding-left: 10px;
}

.accordion__h-p {
  font-family: 'montserratregular', Arial, Helvetica, sans-serif;
  margin: 0;
  text-transform: uppercase;
  padding-right: 355px;
}

@media (max-width: 599px) {
  .accordion__h-p {
    padding-right: 0;
  }
}

.accordion__h-text {
  padding-right: 20px;
  border-top: 0px;
  font-family: 'robotolight_italic', Arial, Helvetica, sans-serif;
  color: #999999;
  font-size: 15px;
  line-height: 1.6;
}

@media (max-width: 599px) {
  .accordion {
    width: 350px;
  }
}

.quote {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 18.75%;
  padding-right: 18.75%;
  padding-top: 3%;
  padding-bottom: 3%;
}

@media (max-width: 599px) {
  .quote {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 599px) {
  .quote__img img {
    width: 90%;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .quote__img img {
    width: 90%;
  }
}

.quote__text {
  width: 70%;
}

.quote__text-p {
  width: 100%;
  font-family: 'robotolight_italic', Arial, Helvetica, sans-serif;
  color: #999999;
  font-size: 24px;
  margin: 0;
}

@media (max-width: 599px) {
  .quote__text-p {
    font-size: 15px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .quote__text-p {
    font-size: 15px;
  }
}

.quote__text-p1 {
  font-size: 14px;
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
  color: #333333;
  text-transform: uppercase;
}

.quote__text-p2 {
  font-size: 15px;
  font-family: 'robotolight_italic', Arial, Helvetica, sans-serif;
  color: #333333;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 5px;
}

.quote__text-t1 {
  margin-top: 14px;
  color: #999999;
  font-size: 15px;
}

.quote__text .sign {
  display: flex;
  align-items: center;
}

.quote__text .sign-text {
  font-family: 'kaushanscript-regular', Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-left: 10px;
}

@media (max-width: 599px) {
  .quote__text .sign-text {
    font-size: 15px;
  }
}

.quote-first {
  background-color: #f8f8f8;
}

.team {
  padding-bottom: 122px;
}

@media (min-width: 600px) and (max-width: 899px) {
  .team {
    justify-content: center;
  }
}

@media (max-width: 599px) {
  .team {
    justify-content: center;
  }
}

.logos img {
  width: 100%;
}

.gallery__img {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

@media (min-width: 1200px) and (max-width: 1799px) {
  .gallery__img {
    flex-flow: row wrap;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .gallery__img {
    flex-flow: row wrap;
    text-align: center;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .gallery__img {
    flex-flow: row wrap;
    text-align: center;
  }
}

@media (max-width: 599px) {
  .gallery__img {
    flex-flow: row wrap;
    text-align: center;
  }
}

.gallery__img-3 {
  width: 480px;
  height: 390px;
  margin: 0;
}

@media (max-width: 599px) {
  .gallery__img-3 {
    width: 90%;
  }
}

.gallery__img-2 {
  width: 480px;
  height: 780px;
}

@media (max-width: 599px) {
  .gallery__img-2 {
    width: 90%;
  }
}

@media (max-width: 599px) {
  .gallery__img-1 {
    width: 90%;
  }
}

.gallery__img-11 {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 900px) and (max-width: 1199px) {
  .gallery__img-11 {
    text-align: center;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .gallery__img-11 {
    text-align: center;
  }
}

@media (max-width: 599px) {
  .gallery__img-11 {
    text-align: center;
  }
}

.gallery__img-22 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 900px) and (max-width: 1199px) {
  .gallery__img-22 {
    justify-content: center;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .gallery__img-22 {
    justify-content: center;
  }
}

@media (max-width: 599px) {
  .gallery__img-22 {
    justify-content: center;
  }
}

.quote-second {
  background: white;
}

.clients {
  background: url("../img/bg-clients.png") no-repeat;
}

@media (max-width: 599px) {
  .clients {
    background-repeat: repeat;
  }
}

@media (min-width: 1800px) {
  .clients {
    background-size: 100%;
  }
}

.clients__item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 20px;
}

@media (min-width: 600px) and (max-width: 899px) {
  .clients__item {
    justify-content: center;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .clients__item {
    justify-content: center;
  }
}

.clients__item-1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 500px;
}

.clients__text {
  font-family: 'roboto-regular', Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.blog {
  padding-bottom: 110px;
}

.blog-img1 {
  width: 380px;
}

.blog-img1 p:nth-child(2) {
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
}

.blog-img1 p:nth-child(3) {
  font-family: 'robototregular', Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.5;
  margin-bottom: 20px;
}

.blog-img1_big {
  position: relative;
}

.blog-img1_left {
  width: 60px;
  height: 70px;
  background-color: #95e1d3;
  color: white;
  text-align: center;
  position: absolute;
  top: 160px;
  left: -10px;
}

.blog-img1_left p:nth-child(1) {
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 10px 0 0 0;
}

.blog-img1_left p:nth-child(2) {
  font-family: 'robotolight_italic', Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 0;
  color: white;
}

.blog-img1_bottom {
  font-family: 'robotolight_italic', Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #999999;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}

.blog-img1_bottom .num-view {
  float: left;
}

.blog-img1_bottom .num-speech {
  margin-left: 70px;
}

.map {
  background: url("../img/bg-map.png") no-repeat;
  margin: 0  auto;
}

@media (min-width: 1800px) {
  .map {
    background-size: 100%;
  }
}

.map__text {
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #f38181;
  padding: 47px 0 47px 0;
}

.map__text-p {
  margin: 16px 0 0 0;
}

.footer {
  background-color: #f8f8f8;
  padding-left: 18.75%;
  padding-right: 18.75%;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

@media (min-width: 600px) and (max-width: 899px) {
  .footer {
    justify-content: center;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .footer {
    justify-content: center;
  }
}

.footer__subscribe {
  width: 400px;
}

.footer__subscribe-text {
  border-bottom: 1px solid #e5e5e5;
}

.footer__subscribe-text h1 {
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
  font-size: 46px;
  color: #cccccc;
  margin-top: 0;
}

@media (max-width: 599px) {
  .footer__subscribe-text h1 {
    text-align: center;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .footer__subscribe-text h1 {
    text-align: center;
  }
}

.footer__subscribe-text p:nth-of-type(1) {
  font-family: 'robotoregular', Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.6;
}

.footer__subscribe-text p:nth-of-type(2) {
  font-family: 'montserratregular', Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

.footer__subscribe-text span {
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
}

.footer__subscribe-input p {
  font-family: 'robotolight_italic', Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #999999;
}

.footer__subscribe-input input {
  padding: 14px;
}

.footer__subscribe-input input[type=text] {
  border: 1px solid #cccccc;
  font-family: 'robotolight_italic', Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #cccccc;
  width: 220px;
}

@media (max-width: 599px) {
  .footer__subscribe-input input[type=text] {
    width: 150px;
  }
}

.footer__subscribe-input input[type=button] {
  background-color: #95e1d3;
  border: 2px solid #95e1d3;
  color: white;
  text-transform: uppercase;
  font-family: 'montserratbold', Arial, Helvetica, sans-serif;
  padding: 14px 24px;
  margin-left: -5px;
  cursor: pointer;
}

@media (max-width: 599px) {
  .footer__subscribe-input input[type=button] {
    padding: 14px;
  }
}

.footer__subscribe-input .follow {
  font-family: 'FontAwesome';
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  color: #95e1d3;
  margin-bottom: 20px;
}

.footer__blogs {
  width: 400px;
}

@media (max-width: 599px) {
  .footer__blogs {
    width: 320px;
  }
}

.footer__blogs-p {
  font-family: 'montserratregular', Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 56px;
}

@media (max-width: 599px) {
  .footer__blogs-p {
    text-align: center;
    margin-top: 40px;
    font-size: 10px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .footer__blogs-p {
    text-align: center;
    margin-top: 40px;
  }
}

.footer__blogs-p1 {
  font-family: 'montserratregular', Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333;
  line-height: 1.5;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}

.footer__blogs-p2 {
  font-family: 'robotolight_italic', Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #999999;
  margin-top: 0;
}

.footer__blogs .img {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-top: 30px;
}

.footer__blogs .img-text {
  margin: 16px 0 0 20px;
}

.footer__insta {
  width: 280px;
}

@media (max-width: 599px) {
  .footer__insta {
    text-align: center;
    margin-top: 40px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .footer__insta {
    text-align: center;
    margin-top: 40px;
  }
}

.footer__insta-p1 {
  font-family: 'montserratregular', Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 56px;
}

.footer__insta-p2 {
  font-family: 'robotolight_italic', Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-top: 20px;
}

.footer__end {
  border-top: 1px solid #e5e5e5;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin: 60px 0 0 0;
}

.footer__end-p {
  font-family: 'montserratregular', Arial, Helvetica, sans-serif;
  color: #333333;
}

.footer__end-span {
  color: #f38181;
}
